
  <header>
    <nav class="round">
      <ul>
        <center>
        <li><%= link_to "Startseite", root_path %></li>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
        </center>
      </ul>
    </nav>

  </header>
